img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;    
}

input[type=file] {
    color: transparent;
}
.pending {
    position: absolute;
    color: red;
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: white;
    opacity: 0.5;
}